* {
    box-sizing: border-box;
}

body {
    font-family: 'Anek Odia', sans-serif;
    font-size: 15px;
    padding: 20px;
}
  
.page {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.page > table {
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px 2px #eee;
}

.page > table > caption {
    padding-bottom: 15px;
}

.page > table th {
    vertical-align: bottom;
}

.page > table th > .dropdown {
    vertical-align: bottom;
}

.page > table td, th {
    padding: 5px;
    padding-right: 15px;
    border-bottom: 1px solid #eee;
}

.page > table > tr > th:last-child,
.page > table > tr > td:last-child {
    padding-right: 5px;
}

table {
    text-align: center;
    border-collapse: collapse;
    width: 100%;
}

caption {
    font-weight: 600;
}

thead,
tbody {
    color: rgba(0, 0, 0, 0.7);
}

table a {
    text-decoration: none;
    color: rgb(0, 150, 155);
    transition: color .3s;
}
table a:hover {
    color: rgb(155, 155, 0);
}

a:visited {
    color: rgb(101, 117, 117);
}

.buy {
    background-color: rgb(135, 253, 131, 0.3);
}

.sell {
    background-color: rgb(251, 92, 92, 0.3);
}

.fall {
    color:red
}

.rise {
    color: green
}

.sortButton {
    width: 16px;
    height: 16px;
    border: none;
    cursor: pointer;
    background-color: white;
    padding: 0;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.20);
    border-radius: 50%;
    width: 1.2rem;
    height: 1.2rem;
}

.sortButton svg {
    display: block;
    pointer-events: none;
    margin: 0 auto;
}

.nowrap {
    white-space: nowrap;
}

.asc {
    --bottomArrowColor: rgb(255, 149, 0);
}

.desc {
    --topArrowColor: rgb(255, 149, 0);
}

.colorFilter {
    --colorFilter: rgb(255, 149, 0);
}

.hidden {
    display: none;
}

@media screen and (max-width: 520px) {
    body {
        font-size: 14px;
    }

    .page > table {
        padding: 5px;
    }

    .page > table tr td, th {
        padding-right: 5px;
    }
}

@media screen and (max-width: 370px) {
    body {
        font-size: 12px;
    }
}