mixin dropdown(items) 
    .dropdown(tabindex='-1')
        button.dropdown__btn(type="button") 
        ul.dropdown__list
            each item in items
                li.dropdown__item
                    input.dropdown__check(id=`check${item.code}` tabindex='-1' type="checkbox" value=item.code name="codes")
                    label(for=`check${item.code}`)=item.msg